
Flask==1.1.2
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
html5lib==1.0.1
hyperlink==19.0.0

Jinja2==2.11.1

requests==2.22.0
six==1.12.0

SQLAlchemy==1.3.16
sqlparse==0.3.1


urllib3==1.25.6


web.py==0.51
webencodings==0.5.1
Werkzeug==0.16.0
whitenoise==5.0.1

zipp==0.6.0

